<a href="https://colab.research.google.com/github/YinhaoHe/Python-AI-teaching/blob/master/Getting_Started_DIY_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello world')

Hello world

In [ ]:
print("my code")

my code

## Import Packages

In [ ]:
import numpy as np
import tensorflow as tf
import pandas as pd
import keras as kr

print(kr.__version__)

2.2.4

## Print

In [ ]:
#basic python print
print("This is Python Do it yourself Tutorials");
print(4+2);

This is Python Do it yourself Tutorials
6

## Variable Assignment

In [ ]:
#Variable assignment
a=10;
b=5.6767876;
c="Pet and Play Python";

print(type(a));
print(type(b));
print(type(c));

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:

#Print Variable values
print("b = %5.2f" %b);
print("a +100 ",a+100);
print("a divided by 4 ", a/4);
print("a divided by 4 - floor value ", a//4);
print("Remainder  ", a%4);
print("Power a raise to 2", a**2);

b =  5.68
a +100  110
a divided by 4  2.5
a divided by 4 - floor value  2
Remainder   2
Power a raise to 2 100

In [ ]:
print("a = ",a)
print("Logical operator > ", a>=5);
print("Logical operator equal to ", a==5);

print("Logical operator equal to ", a==10);
print("Logical operator not equal to ", a!=5);
print("Logical operator OR ", a==5 or a==10);

a += 10;
print("Addition ", a);

a =  30
Logical operator >  True
Logical operator equal to  False
Logical operator equal to  False
Logical operator not equal to  True
Logical operator OR  False
Addition  40

##Strings

In [ ]:

#Strings
print("c = ",c);
print(c[5:15]);
print(c.upper());
print(c.lower());
print(c.split(" "));
print(len(c));

c =  Pet and Play Python
nd Play Py
PET AND PLAY PYTHON
pet and play python
['Pet', 'and', 'Play', 'Python']
19

##TUPLES

In [ ]:
#tuples - ordered set of data, can hold mix datatypes, similar to a single row in a database, immutable - can't be modified
rt=(10,"Pet n play","Python",42000);
print("rt = ",rt);
print("rt[1] =",rt[1]);
print("rt[-1] = ",rt[-1]);
print(" rt[1:2] = ",rt[1:2]);
print("rt[-1:]=", rt[-1:]);
print("rt[-4:-2] = ",rt[-4:-2]);

rt =  (10, 'Pet n play', 'Python', 42000)
rt[1] = Pet n play
rt[-1] =  42000
 rt[1:2] =  ('Pet n play',)
rt[-1:]= (42000,)
rt[-4:-2] =  (10, 'Pet n play')

## LIST

In [ ]:
#lists - mutable sequence of elements places in []. Can be modified:
list1 = [78,47,82,54];
print(list1);
list1.append(74);
print(list1);
list1.insert(3,45);
print(list1);

[78, 47, 82, 54]
[78, 47, 82, 54, 74]
[78, 47, 82, 45, 54, 74]

## IF - ELSE STATEMENT

In [ ]:
x = 1;

print("BLOCK-1")
if x == 1:
    print("Match")
else:
    print("No Match");

print('---------------------------------------------')
print("BLOCK-2")

userinput = int(input("Enter a value between 1 & 4: "));
if userinput == 1:
    print("One")
    print("second statement for ONE")
elif userinput == 2:
    print("Two")
elif userinput == 3:
    print("Three")
elif userinput == 4:
    print("Four")
else:
    print("No Match");

BLOCK-1
Match
---------------------------------------------
BLOCK-2
Enter a value between 1 & 4: 1
One
second statement for ONE

## FOR & WHILE DO LOOPS

In [ ]:
#Basic For Loop
a = 5;
for i in range(a+1):
    print("i is ", i);
    print('this is i+1 ', i+1);

print('---------------------------------------------')
print('---------------------------------------------')

#Range increments
a = 5;
for i in range(a,20,2):
    print("i is ", i);

print('---------------------------------------------')
print('---------------------------------------------')



#While Loop:
i=2;
while i < 5:
    print("While loop value: ", i);
    i += 1;

i is  0
this is i+1  1
i is  1
this is i+1  2
i is  2
this is i+1  3
i is  3
this is i+1  4
i is  4
this is i+1  5
i is  5
this is i+1  6
---------------------------------------------
---------------------------------------------
i is  5
i is  7
i is  9
i is  11
i is  13
i is  15
i is  17
i is  19
---------------------------------------------
---------------------------------------------
While loop value:  2
While loop value:  3
While loop value:  4

## Data Frames

In [ ]:
#os package
import os;
print("current working directory is ", os.getcwd());
print("list of items: ", os.listdir());


from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

file = r'/gdrive/My Drive/Colab Notebooks/datafiles/Regression-AreaPrice.csv'
my_df = pd.read_csv(file)

print(my_df)

current working directory is  /gdrive
list of items:  ['My Drive', '.Trash']
Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive
    Area   Price
0    400   81374
1    450   91349
2    500  101324
3    550  111299
4    600  121274
5    650  131249
6    700  141224
7    750  151199
8    800  161174
9    850  171149
10   900  181124
11   950  191099
12  1000  201074
13  1050  211049
14  1100  221024
15  1150  230999
16  1200  240974
17  1250  250949
18  1300  260924
19  1350  270899
20  1400  280874
21  1450  290849
22  1500  300824
23  1550  310799
24  1600  320774
25  1650  330749
26  1700  340724
27  1750  350699
28  1800  360674
29  1850  370649
30  1900  380624

In [ ]:
print("my_df.head(10): ",my_df.head(10));        #first 10 records of a dataframe in a dataframe
print('---------------------------------------------')
print('---------------------------------------------')

print("my_df.tail(10): ",my_df.tail(10));        #last 10 records of a dataframe in a dataframe
print('---------------------------------------------')
print('---------------------------------------------')

print("my_df.shape: ",my_df.shape);            #see number of rows & columns in a dataframe
print('---------------------------------------------')
print('---------------------------------------------')

print("my_df.info: ",my_df.info);               #see the structure of the dataframe
print('---------------------------------------------')
print('---------------------------------------------')

print("my_df.index: ",my_df.index);              #index of a dataframe
print('---------------------------------------------')
print('---------------------------------------------')

print("my_df.columns: ",my_df.columns);              #index of a dataframe
print('---------------------------------------------')
print('---------------------------------------------')

print("my_df.len: ",len(my_df));                #length of a dataframe in a dataframe
print('---------------------------------------------')
print('---------------------------------------------')

print("my_df.describe: ",my_df.describe);          #describe a dataframe

my_df.head(10):     Area   Price
0   400   81374
1   450   91349
2   500  101324
3   550  111299
4   600  121274
5   650  131249
6   700  141224
7   750  151199
8   800  161174
9   850  171149
---------------------------------------------
---------------------------------------------
my_df.tail(10):      Area   Price
21  1450  290849
22  1500  300824
23  1550  310799
24  1600  320774
25  1650  330749
26  1700  340724
27  1750  350699
28  1800  360674
29  1850  370649
30  1900  380624
---------------------------------------------
---------------------------------------------
my_df.shape:  (31, 2)
---------------------------------------------
---------------------------------------------
my_df.info:  <bound method DataFrame.info of     Area   Price
0    400   81374
1    450   91349
2    500  101324
3    550  111299
4    600  121274
5    650  131249
6    700  141224
7    750  151199
8    800  161174
9    850  171149
10   900  181124
11   950  191099
12  1000  201074
13  1050  211049
14  1100  221024
15  1150  230999
16  1200  240974
17  1250  250949
18  1300  260924
19  1350  270899
20  1400  280874
21  1450  290849
22  1500  300824
23  1550  310799
24  1600  320774
25  1650  330749
26  1700  340724
27  1750  350699
28  1800  360674
29  1850  370649
30  1900  380624>
---------------------------------------------
---------------------------------------------
my_df.index:  RangeIndex(start=0, stop=31, step=1)
---------------------------------------------
---------------------------------------------
my_df.columns:  Index(['Area', 'Price'], dtype='object')
---------------------------------------------
---------------------------------------------
my_df.len:  31
---------------------------------------------
---------------------------------------------
my_df.describe:  <bound method NDFrame.describe of     Area   Price
0    400   81374
1    450   91349
2    500  101324
3    550  111299
4    600  121274
5    650  131249
6    700  141224
7    750  151199
8    800  161174
9    850  171149
10   900  181124
11   950  191099
12  1000  201074
13  1050  211049
14  1100  221024
15  1150  230999
16  1200  240974
17  1250  250949
18  1300  260924
19  1350  270899
20  1400  280874
21  1450  290849
22  1500  300824
23  1550  310799
24  1600  320774
25  1650  330749
26  1700  340724
27  1750  350699
28  1800  360674
29  1850  370649
30  1900  380624>

## User Defined Functions

In [ ]:
def mySqr(i):
    sqrvalue = (i**2);
    return sqrvalue;

print("Square of 4: ", mySqr(4));

print("Square of 5: ", mySqr(5));


a=6;
print("Square of 6: ", mySqr(a));

Square of 4:  16
Square of 5:  25
Square of 6:  36